@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Persian&display=swap');

body{
    background-color: black;
    font-family: "Noto Sans Old Persian", sans-serif;
    font-weight: 300;
}

.fiaplogo{
    text-align: center;
}

.titulo{
    color: #ED145b;
}

.box1{
    background-color: rgb(30, 30, 30);
    color: #ED145b;
    float: left;
    text-align: center;
    border-radius: 50px;
}

.cliqueaqui{
    text-decoration: underline;
}

.titulocursos{
    color: #ED145b;
}

.box2{
    background-color: rgb(30, 30, 30);
    text-align: center;
    border-radius: 50px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ED145b;
}

.adm{
    color: #ffa938;
}

.boxtituloadm{
    text-align: center;
}

.tituloadm{
    color: #ffa938;
}

.bodyadm{
    background-color: black;
}

.imagemadm{
    border-radius: 15px;
}

.textosadm{
    color: #ffa938;
    text-align: center;
}

.peadm{
    color: #ffa938;
    text-decoration: underline;
    
}

.fimadm{
    background-color: rgb(30, 30, 30);
    text-align: center;
}

.ads{
    color: #f2ff38;
}

.tituloads{
    color: #f2ff38;
}

.boxtituloads{
    text-align: center;
}

.imagemads{
    border-radius: 15px;
}

.textosads{
    color: #f2ff38;
    text-align: center;
}

.peads{
    color: #f2ff38;
    text-decoration: underline;
}

.fimads{
    background-color: rgb(30, 30, 30);
    text-align: center;
}

.engenhariadacomputacao{
    color: #8fff38;
}

.engenhariadaproducao{
    color: #38ffa9;
}

.engenhariamecatronica{
    color: #38ffe4dc;
}

.bancodedados{
    color: #38f2ffce;
}

.boxtitulobancodedados{
    text-align: center;
}

.titulobancodedados{
    color: #38f2ffce;
}

.gestaodetecnologiadainformacao{
    color: #388fff;
}

.jogosdigitais{
    color: #4538ff;
}

.sistemasdeinformacao{
    color: #a838ff;
}

.sistemasparainternet{
    color: #ff38f2;
}

.rededecomputadores{
    color: #ff388e;
}