@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Persian&display=swap');

body{
    background-color: black;
    font-family: "Noto Sans Old Persian", sans-serif;
    font-weight: 300;
}

.fiaplogo{
    text-align: center;
}

.titulo{
    color: #ED145b;
}

.box1{
    background-color: rgb(30, 30, 30);
    color: #ED145b;
    float: left;
    text-align: center;
}

.titulocursos{
    color: #ED145b;
}

.box2{
    background-color: rgb(30, 30, 30);
    text-align: center;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ED145b;
}

.adm{
    color: #ffa938;
}

.ads{
    color: #f2ff38;
}

.engenhariadacomputacao{
    color: #8fff38;
}

.engenhariadaproducao{
    color: #38ffa9;
}

.bancodedados{
    color: #38f2ff;
}

.gestaodetecnologiadainformacao{
    color: #388fff;
}

.jogosdigitais{
    color: #4538ff;
}

.sistemasdeinformacao{
    color: #a838ff;
}

.sistemasparainternet{
    color: #ff38f2;
}

.rededecomputadores{
    color: #ff388e;
}